---
layout: v1/default
title: Rules
---


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-2 mt-5">
            <ul class="sidnav nav nav-pills flex-column" role="menu">
                {% for change in site.data.v1.changes %}
                    <li class="nav-item"><a href="#{{ change | slugify }}" class="nav-link subnav-link">{{ change }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 col-sm-10">
            <div class="text-center mt-3">
                <h1>Rules</h1>
            </div>
            {% for change in site.data.v1.changes %}
                <div id="{{ change | slugify }}" class="hidden-xl-down content-div">
                    {% capture include_file %}rules/{{ change | slugify }}.html{% endcapture %}
                    {% include v1/{{ include_file }} %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>