---
layout: v1/default
title: Mass Effect 5e
---

<div class="jumbotron jumbotron-fluid" style="margin-top: -3em; padding-bottom: 1em;">
    <div class="container text-center">
        <h1>Mass Effect 5e-alpha</h1>
        <p class="text-danger">This version is outdated. Kept alive for archival/idea purposes.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-12">
                    <h2>Races</h2>
                </div>
                {% include v1/race_buttons.html %}
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h2>Classes</h2>
                </div>
            </div>
            {% include v1/class_buttons.html %}
        </div>
    </div>
</div>
