---
layout: default
title: Mass Effect 5e
---

<div class="jumbotron jumbotron-fluid" style="margin-top: -3em; padding-bottom: 1em;">
    <div class="container text-center">
        <h1 class="sr-only">Mass Effect 5e</h1>
        <img src="{{ site.baseurl }}assets/images/me5e_logo_notm.png" class="img-fluid" alt="mass effect 5e logo">
        <p class="lead mt-3">
            The Unofficial D&D 5th Edition conversion for the Mass Effect Universe
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Latest News</h2>
            {% assign news = site.posts | limit: 5 %}
            {% for post in news %}
                {% include post_item.html post=post %}
            {% endfor %}

            <div class="row mt-5">
                <div class="col-12">
                    <h2>Races</h2>
                </div>
                {% include race_buttons.html %}
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h2>Classes</h2>
                </div>
            </div>
            {% include class_buttons.html %}
        </div>
    </div>
</div>
