---
layout: default
title: Mass Effect 5e
description: Mass Effect Universe mapped onto the Dungeons and Dragons 5th Edition
---

<div class="jumbotron jumbotron-fluid" style="margin-top: -3em; padding-bottom: 1em;">
    <div class="container text-center">
        <h1 class="sr-only">Mass Effect 5e</h1>
        <img src="{{ site.github.url }}/assets/images/me5e_logo_notm.png" class="img-fluid" alt="mass effect 5e logo">
        <p class="lead mt-3">
            The Unofficial D&D 5th Edition conversion for the Mass Effect Universe
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-xs-center">
            <h3>Notice!</h3>
            <p>We'll be pushing a large, backend refactor tomorrow morning. The site may be down for a couple of hours between 8 and 10 am. Sorry for the inconvenience!</p>
        <div class="col-12">
            <h2>Latest News</h2>
            {% assign news = site.posts | limit: 5 %}
            {% for post in news %}
                {% include post_item.html post=post %}
            {% endfor %}
        </div>
    </div>
</div>
