{% capture filter %}{{ include.filter | slugify }}{% endcapture %}

{% if filter != '' and filter != nil %}
    {% assign abilities = site.data.abilities | where: filter,"x" | sort: 'level' %}
{% else %}
    {% assign abilities = site.data.abilities | sort: 'name' %}
{% endif  %}
<table class="table table-bordered table-sm table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Level</th>
            <th>Classes</th>
        </tr>
    </thead>
    <tbody>
    {% for ability in abilities %}
    <tr>
        <td>
            <button type="button" class="link" data-id="{{ ability.name }}" data-key="name" data-type="abilities" data-toggle="modal" data-target="#ajaxModal">
                {{ ability.name }}
            </button>
        </td>
        <td>{{ ability.type }}</td>
        <td>{{ ability.level }}</td>
        <td>{{ ability.class-list }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>