</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script>
    $(function(){

        var hash = window.location.hash;
        if(hash){
            showContent(hash, '');
        } else {
            if($('.content-div').length){
                target = '#' + $('.content-div').first().attr('id');
                showContent(target, target);
            }
        }

        $('.subnav-link').click(function(e){
            e.preventDefault();
            var target = $(this).attr('href');
            target = target.substring(target.indexOf('#'));
            showContent(target, target);
        });

        function showContent(target, hash){
            if(hash != ''){
                window.location.hash = target;
            }
            $('.subnav-link').removeClass('active');
            $('[href="'+target+'"]').addClass('active');
            $('.content-div').addClass('hidden-xl-down');
            $(target).removeClass('hidden-xl-down');
        }

        var renderOptions = {
            abilities: function(object){
                var spellHead = '';
                var body = '';
                var higher = '';
                var advancements = '';

                body += '<p>' + object['mechanic'] + '</p>';

                if(object['type'] == 'spell' || object['type'] == 'tech'){
                    spellHead += '<dl class="row">';
                    spellHead += '<dt class="col-sm-3">Casting Time</dt><dd class="col-sm-9">' + object['casting-time'] + '</dd>';
                    spellHead += '<dt class="col-sm-3">Range</dt><dd class="col-sm-9">' + object['range'] + '</dd>';
                    spellHead += '<dt class="col-sm-3">Duration</dt><dd class="col-sm-9">' + object['duration'] + '</dd>';
                    spellHead += '</dl><hr>';

                    higher += '<p>' + object['higher-levels'] + '</p>';

                    if(object['adv-option-1'].length && object['adv-option-1'] != '-'){
                        advancements += '<h4>Advancements</h4>';
                        av1 = object['adv-option-1'].split('-');
                        advancements += '<p><strong>' + av1[0].trim() + '</strong>: ' + av1[1].trim() + '</p>';
                    }
                    if(object['adv-option-2'].length && object['adv-option-2'] != '-') {
                        av2 = object['adv-option-2'].split('-');
                        advancements += '<p><strong>' + av2[0].trim() + '</strong>: ' + av2[1].trim() + '</p>';
                    }
                }

                return spellHead + body + higher + advancements;
            },
            weapons: function(object){
                var html = '';
                html += '<div class="row"><div class="col-12 col-sm-4"><!--<img src="' + object['img-src'] + '">--></div>';
                html += '<div class="col-12 col-sm-8">';
                html += '<dl class="row">';
                html += '<dt class="col-sm-3">Type</dt><dd class="col-sm-9">' + object['weapon-type'] + '</dd>';
                html += '<dt class="col-sm-3">Weight</dt><dd class="col-sm-9">' + object['weight'] + '</dd>';
                html += '<dt class="col-sm-3">Range</dt><dd class="col-sm-9">' + object['range'] + '</dd>';
                html += '<dt class="col-sm-3">Rate of Fire</dt><dd class="col-sm-9">' + object['rof'] + '</dd>';
                html += '<dt class="col-sm-3">Heat</dt><dd class="col-sm-9">' + object['heat'] + '</dd>';
                html += '</dl></div></div><hr>';
                return html;
            }
        }


        $('#ajaxModal').on('show.bs.modal', function (e) {
            var dataFile =  $(e.relatedTarget).data('type');
            var id = $(e.relatedTarget).data('id');
            var key = $(e.relatedTarget).data('key');
            $(this).find('.modal-title').html(id);
            $.getJSON( "{{ site.baseurl }}data/" + dataFile + ".json" , function( result ){
                $.each(result, function(k,v){
                    if(v[key] == id){
                        html = renderOptions[dataFile](v);
                        $('#ajaxModal').find('.modal-body').html(html);
                    }
                });
            });
        });

    });
</script>

<footer class="container-fluid h-25 text-center p-3 mt-5">
    <p>Mass Effect and all its assets belong to EA/Bioware. No copyright infringement intended; this is fan-created guide for non-commercial use.</p>
    <p>Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International license</a>.</p>
    <p>Images from the <a href="http://masseffect.wikia.com/wiki/Mass_Effect_Wiki" target="_blank">Mass Effect Wikia</a></p>
</footer>

</body>
<div class="modal fade" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="ajaxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ajaxModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
</html>
