{% assign headers = site.data.weapons[0] %}
<table class="table table-bordered table-sm table-striped">
    <thead class="thead-inverse">
        <tr>
            {% for head in headers %}
                <th>{{ head[0] | replace: '-', ' ' | capitalize}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for weapon in site.data.weapons | sort: 'name' %}
    <tr>
        {% for col in weapon %}
        <td>
            {{ col[1] }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>