---
layout: print
title: Cards for Print
---

{% assign spells = site.data.spells.data | sort: 'type' %}

<div id="print-grid">
    {% for spell in spells %}
    {% if spell.type != 'feature' and spell.type != null %}
    <section class="{{spell.type}}">
        <h1>{{ spell.name }} {% if spell.level %} &mdash; Level: {{ spell.level }} {% endif %}</h1>
        <h2 class="spell-meta">
            {% if spell.effect != blank %} {{spell.effect | join: ", "}} {% endif %}
            {% if spell.dmg-type != blank %}&bull; {{spell.damage_type | join: ", "}} {% endif %}
        </h2>
        <table>
            <tr>
                <th>Casting Time</th>
                <th>Duration</th>
                <th>Range</th>
                <th>Concentration</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ spell.casting_time }}</td>
                <td>{{ spell.duration }}</td>
                <td>{{ spell.range }}</td>
                <td>{% if spell.concentration %}&#x2714;{% endif %}</td>
            </tr>
            </tbody>
        </table>

        {% if spell.detonates != null %} <h3>Detonates</h3> {% endif %}
        {% if spell.primes != null %} <h3>Primes</h3> {% endif %}

        {% for mechanic in spell.mechanic %}

            {% if mechanic.type == 'line' %}
                <p>{{mechanic.data}}</p>
            {% else %}
                <figure>TODO: Add "{{mechanic.type}}"</figure>
            {% endif %}

        {% endfor %}

        {% if spell.adv_options != blank %}
            <h3>Advances</h3>
            {% for option in spell.adv_options %}
                <p>{{option}}</p>
                {% if forloop.last == false %}
                <strong> - OR - </strong>
                {% endif %}
            {% endfor %}
        {% endif %}

    </section>
    {% endif %}
    {% endfor %}
</div>