{% capture yamlfile %}{{ include.class.class | slugify }}{% endcapture %}
{% assign headers = site.data.v1[yamlfile][0] %}
<table class="table table-bordered table-sm table-striped">
    <thead class="thead-inverse">
        {% if class.class == "Adept" %}
        <tr>
            <th colspan="5"></th>
            <th colspan="5">Spell Slots per Level</th>
        </tr>
        {% endif %}
        <tr>
        {% for head in headers %}
            {% if head[0] != 'id' %}
                <th>{{ head[0] | replace: '-', ' ' | capitalize}}</th>
            {% endif %}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in site.data.v1[yamlfile] %}
        <tr>
            {% for col in row %}
                {% if col[0] != 'id' %}
                    <td>
                    {% if col[0] == 'features' %}
                        <ul class="list-unstyled">
                            {% for gain in col[1] %}
                            <li>
                                {% if gain.text != 'Select your Subclass' and gain.text != 'Subclass Feature' %}
                                    <button
                                            type="button"
                                            class="link"
                                            data-name="{{ gain.text }}"
                                            data-key="name"
                                            data-type="features"
                                            data-toggle="modal"
                                            data-target="#ajaxModal">{{ gain.text }}</button>{{ gain.add-text }}
                                {% else %}
                                    {{ gain.text }}{{ gain.add-text }}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ col[1] }}
                    {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>