transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments

.expansion-panel__sortable
  max-width: 95%;
  margin: auto;

  ul.list .list__tile
    padding-left: 0;

  i
    transition(transform 50ms ease-in-out)
    opacity: 0;
  i.dsc
    transform(rotate(-180deg))

  .active
    i
      opacity: 1;
