---
---

@import '_variables.scss';
@import 'bootstrap/bootstrap';

.jumbotron h1 {
  font-size: 8rem;
}

.clip-circle img{
  display: block;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  margin: 0 auto .2em;
  box-sizing: content-box;
  background: #3B3538;
  border: 6px solid #3B3538;
}
.clip-circle:after, .clip-circle:before {
  position:absolute;
  opacity:0;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.clip-circle:after {
  content:'\A';
  display: block;
  height: 128px;
  width: 128px;
  bottom: .2em;
  border-radius: 50%;
  background:rgba(0,0,0,0.6);
  box-sizing: content-box;
}
.clip-circle:before {
  content: attr(data-name);
  color:#fff;
  display: block;
  height: 119px;
  width: 119px;
  z-index:1;
  top: 5em;
  text-align:center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clip-circle-sm:after, .clip-circle-sm img {
  height: 64px;
  width: 64px;
}
.clip-circle-sm:before {
  height: 55px;
  width: 55px;
  top: 1.8em;
  font-size: .8rem;
}

.clip-circle:hover:after, .clip-circle:hover:before {
  opacity:1;
}

.class-button{
  position: relative;
  width: 9rem;
  height: 9em;
}

.class-button:before {
  content: attr(data-name);
  color: $gray-dark;
  width: 9em;
  z-index: 1;
  top: 2rem;
  text-align: center;
  position: absolute;
  font-weight: 600;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.class-icon {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  position: absolute;
  margin: 0 auto;
  left:0; right:0; bottom:1em;
  z-index: 1030;
}
.class-icon-sm {
  height: 2em;
  width: 2em;
}

.class-icon-md {
  height: 4em;
  width: 4em;
}
.class-icon-lg {
  height: 6em;
  width: 6em;
}
.class-icon-xl {
  height: 8em;
  width: 8em;
}
.class-icon-fluid {
  width: 100%;
  height: auto;
}

.class-button:hover:before{
  top: -.5em;
}
.class-button:hover .class-icon {
  height: 7em;
  width: 7em;
}

.class-card {
  font-size: .8em;
}
.class-card h3 {
  font-size: 1.2em;
  border-bottom: 1px solid $gray-dark;
}

button.link {
  color: $link-color;
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

footer {
  font-size: .8rem;
  background-color: $inverse-bg;
  color: $gray-lighter;
}