#print-grid {
    width:8.5in;
}

section {
  border:2px solid black;
  border-radius:0.25in;
  float:left;
  font-size:10px;
  margin:0.4in;
  padding:0 10px 5px 10px;
  width:2.5in;
  height:3.5in;
  overflow:hidden;
  page-break-after: always;
  page-break-inside: avoid;

  h1 {
    background-repeat:no-repeat;
    background-size:25px 40px;
    display:block;
    font-size:12px;
    margin:0;
    padding:10px 0 10px 30px;
    text-align:left;
  }

  h2 {
    margin:-10px 0 5px 0;
    padding: 0 0 0 30px;
    font-size:11px;
  }

  h3 {
    font-size:10px;
    margin:0;
  }

  .spell-meta {
    text-transform: capitalize;
  }

  &.spell {

    h1 {
      background-image: url(../images/classes/adept.svg);

    }

  }

  &.tech {
    h1 {
      background-image: url(../images/classes/engineer.svg);

    }

  }

  &.grenade, &.combat {
    h1 {
      background-image: url(../images/classes/soldier.svg);

    }

  }

  p {
    margin:3px 0;
  }
}
