.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.text--shadow {
  text-shadow: 0 0 5px #000;
}

.theme--dark.v-application {
  color: rgba(255, 255, 255, 0.7);

  h1, h2, h3, h4, h5, h6, strong, .font-weight-bold, .headline, .title {
    color: rgba(255, 255, 255, 0.87);
  }
}

.theme--light.v-application {
  background: #cfd8dc;
}

.v-alert__content p {
  margin-bottom: 0;
}

.v-card.blockquote-card {

  margin-bottom: 1em;

  p {
    margin-bottom: 0;
  }
}

.small-caps {
  font-variant: small-caps;
}

$tooltip-opacity: 1 !default;
$tooltip-background-color: #424242 !default;

