/* post list */
.date-grid
  display: block;
  float: left;
  background-color: $light-blue.darken-3;
  width: 4.2rem;
  height: 5rem;
  margin-right: 1rem;
  color: $blue-grey.ligthen-5;
  position: absolute

  .date-part
    display: block;
    line-height: 1.5rem;
    font-size: .8rem;

  .date-part.day
    font-size: 2rem;
    font-weight: 700;
    margin: .2rem 0 .3rem 0;

  .date-part.month
    letter-spacing: 1px;