.table
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
  border-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;

  thead tr
    height: 56px;

  thead th
    font-weight: 500;
    font-size: 12px;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(0, 0, 0, .54);
    text-align: left;

  thead tr:first-child
    border-bottom: 1px solid rgba(0, 0, 0, .12)

  thead td:not(:nth-child(1)),
  tbody td:not(:nth-child(1)),
  thead th:not(:nth-child(1)),
  tbody th:not(:nth-child(1)),
  thead td:first-child,
  tbody td:first-child,
  thead th:first-child,
  tbody th:first-child
    padding: 0 24px;

  tbody td, tbody th
    height: 48px;

  tbody td
    font-weight: 400;
    font-size: 13px;

  tbody tr
    -webkit-transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    will-change: background;

  tbody tr:not(:last-child)
    border-bottom: 1px solid rgba(0, 0, 0, .12);


@media only screen and (max-width: 960px)

  /* Force table to not be like tables anymore */
  .table
    table, thead, tbody, th, td, tr
      display: block

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr
      position: absolute;
      top: -9999px;
      left: -9999px;

    tbody tr
      margin: 0 0 1rem 0
      border-bottom: none !important

    tr:nth-child(odd)
      background: #ddd;

    tbody td
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-top: 6px !important;
      padding-bottom: 6px !important;
      padding-right: 6px !important;
      padding-left: 35% !important;
      height: auto;

      &.full-width-td
        padding-left: 6px !important;
        padding-top: 2em !important;

    td:before
      /* Now like a table header */
      content: attr(data-table-key)
      font-weight: 600
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 60%;
      white-space: nowrap;