@import './_attribute.styl'
@import './_sortable_list.styl'
@import './_dictionary_list.styl'
@import './_date_grid.styl'
@import './_table.styl'

// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

.sr-only
  position: absolute;
  left: -999999px;

.v-chip--x-small
  font-size: 10px
  height: 16px
  .v-chip__content
    line-height: 1
    padding: 8px

div.hr
  height: 4px;
  background-color: $theme.secondary;
  margin: $spacers.three.y 0px;

.clickable {
  cursor: pointer;
}

.table.alt-table
  width: 100%;
  max-width: 100%;
  background-color: transparent;

  th, td
    padding: $spacers.two.y $spacers.two.x !important;
    vertical-align: top;

  tr:hover {
    background-color: #eee
  }

  thead tr
    height: auto !important;

  thead th
    vertical-align: bottom;

ul.list-unstyled
  list-style: none;

.underline-heading
  border-bottom: 1px solid $theme.secondary;

.small-caps
  font-variant: small-caps;

.me-title-logo
  width: 100%;
  height: auto;

@media screen and (min-width: 960px)
  .me-title-logo
    width: auto;
    height: 200px;

.parallax-title {
  text-shadow: 0px 0px 5px black;
  font-size: 4em;
}

.nav-brand {
  text-decoration: none;
}
.nav-brand img {
  width: 30px;
  vertical-align: middle;
}
.nav-brand span {
  margin-left: 15px;
  color: white;
}

@media print {
  .hidden-print {
    display: none;
  }
}

@media screen {
  .hidden-screen {
    display: none;
  }
}
