<h2>Conditions</h2>
<p><strong>Removed</strong>: None</p>
<p><strong>Added</strong>: Frozen & Lifted</p>
<table class="table table-sm">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for condition in site.data.v1.conditions %}
    <tr>
        <td>
            {{ condition.name }}
        </td>
        <td>
            {{ condition.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

