<h2>Intro</h2>

<h2>Character Creation</h2>
<p>
    The only change in character creation is that some Races cannot play certain classes. This mainly represents the
    fact some races cannot use biotic powers. General character creation works as follows:
</p>
<ol>
    <li>Choose a race & feats (if applicable)</li>
    <li>Choose a class available to that race.</li>
    <li>Choose your proficiencies.</li>
    <li>Roll for your Hit Points and Shield Points.</li>
    <li>Roll and assign your ability scores.</li>
    <li>Choose 2 starting weapons.</li>
    <li>Create a back story.</li>
</ol>

<h2>General Changes & Additions</h2>

<h3>Features</h3>
<p>
    "Feature" is just the umbrella term used for Spells, Tech Powers, and 5e class features.
</p>
<p>
    In Mass Effect, spells and tech powers have advanced versions of themselves. At certain levels, you can either choose to learn new
    spells and powers or advance ones you've already learned. For example, when you see Select (2:4) spells. The first number indicates
    the number of new spells you can learn or advance. In this example, you can either learn 2 new spells, advance 2 spells,
    or learn a spell and advance a spell. The second number indicates the max level of the spell you can learn or advance.
    In this example, you can learn or advance spells of level 4 or less, including cantrips. Though you can learn new catrips
    this way, you cannot know more cantrips than allowed by your level (indicated on you class sheet). You cannot select
    and advance a spell in the same turn.
</p>
<p>
    Tech powers are all considered level 1; thus, there is only a single number in the parenthesis, indicating the number
    of powers you can learn or advance.
</p>

<h2>Feats</h2>
<p>
    The available feats from the 5e PHB are: Alert, Athlete, Actor, Biotic Slayer*, Charger, Durable,
    Elemental Adept, Grappler, Heavily Armored, Heavily Armored, Heavy Armor Master, Inspiring Leader, Keen Mind, Lightly Armored, Linguist, Lucky, Medium Armor Master,
    Mobile, Moderately Armored, Observant, Resilient, Savage Attacker, Sentinel, Sharpshooter, Skilled, Skulker, Tavern Brawler, Tough, Weapon Master**
</p>
<ul>
    <li>* - see Mage Slayer</li>
    <li>** - Instead of gain proficiency with 4 weapons, you gain proficiency with 2 ranged weapons</li>
</ul>

<h2>Paragon & Renegade Points</h2>

<p>
    These are special proficiency bonuses that can be applied to certain skill checks. For example, you might try
    get information out of another character. If you choose to intimidate the target with a threat, the GM would ask for an
    Intimidation check. You can ask, "Does my Renegade bonus apply?". In this case, it should. You might choose
    to Persuade the character for information, to which the Paragon bonus would apply. It's your responsibility
    to ask the GM about adding the P/R bonus, but the GM can proactively ask for a check with the P/R bonus added.
</p>
<p>
    Paragon and Renegade is earned as you play. It can be rewarded by the GM based on actions you take during the campaign.
    It's a permanent bonus. You get a +1 bonus for every 10 Paragon and Renegade points. The GM can adjust the ratio if there
    aren't a lot of opportunities to gain points. The idea is that you shouldn't ever get more than ~ a +6 bonus. For a long
    campaign, this amounts to 60 points, giving the GM many opportunities to reward points. However, use a 1:5 ratio for
    shot campaigns or if you don't have an many situations which would provide points.
</p>

<h3>Distance</h3>
<p>
    I use meters instead of feet. Why? Because this is set in the future and it's sci-fi and using metric just seems to
    make more sense. The general rule of thumb is that 3ft = 1m.
</p>

<h3>Sexy Level?</h3>
<p>
    WTF is sexy level? ... A joke, but after reading this very
    <a href="http://www.polygon.com/2017/3/20/14980436/mass-effect-sexiest-character-aliens-ranked" target="_blank">scientific article</a>,
    I decided to make it canon.
</p>

<h3>Armor</h3>
<p>
    Armor proficiency is based on race not class.
</p>
<p>
    Instead of the different types of light, medium, and heavy armor, (studded, chain mail, etc.) there are only the 3
    major types (light, medium, and heavy). Armor does take away from your carry capacity.
</p>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>Type</td>
        <td>Armor Class (AC)</td>
        <td>Stealth</td>
        <td>Weight</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Light</td>
        <td>11 + Dex modifier</td>
        <td>-</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Medium</td>
        <td>14 + Dex modifier (max 2)</td>
        <td>-</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Heavy</td>
        <td>17</td>
        <td>Disadvantage</td>
        <td>3</td>
    </tr>
    </tbody>
</table>
<p>
    There are plenty of armor bonuses in Mass Effect. I've not created a list (yet?), but you and your GM should be creative
    about armor bonuses.
</p>
