<h2>Additional Rules</h2>

<h3>Paragon & Renegade</h3>
<p>
    These are special proficiency bonuses that can be applied to certain skill checks. For example, you might try
    get information out of another character. If you choose to intimidate the target with a threat, the GM would ask for an
    Intimidation check. You can ask, "Does my Renegade bonus apply?". In this case, it should. Instead, you might choose
    to Persuade the character for information instead, to which the Paragon bonus would apply. It's your responsibility
    to ask the GM about adding the P/R bonus, but the GM can proactively ask for a check with the P/R bonus added.
</p>
<p>
    Paragon and Renegade is earned as you play. It can be rewarded by the GM based on actions you take during the campaign.
    It's a permanent bonus. Like your proficiency bonus, you should never have over 6 in either. A lvl 1 character might
    have 1 in either, based on your back story.
</p>

<h3>Shields</h3>
<p>
    If you did not take any damage from the end of your turn until the start of your turn, you recover 1d4 shield points.
    Some spells and abilities might increase the recharge rate.
</p>

<h3>Barrier Ticks</h3>
<p>
    Barrier is a cantrip available to Adepts, Sentinels, and Vanguards. It generates Barrier Ticks which are both a casting
    resource and damage reduction mechanic. Barrier Ticks generally start at 0 and can be gained by casting Barrier or other powers.
    Some powers require barriers to activate.
</p>
<p>
    Every time you take damage, remove a barrier tick and reduce that dmg by 1d8. The reduction increases by 1 when you
    reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).
</p>

<h3>Tech Points</h3>
<p>
    Tech Points (TP) are a casting resource for Engineers, Infiltrators, and Sentinels. You spend these points to fuel various
    tech powers. They represent your Omni-tool's power capacity. When you spend a tech point, it is unavailable until you
    finish a long rest, at the end of which you recharge your Omni-tool. You must spend at least 30 minutes charging.
    On a short rest, you regain 1d4 TP. Your TP recharge increases by 1 when you when you reach 5th level (2d4),
    11th level (3d4), and 17th level (4d4).
</p>

<h3>Combos</h3>
<p>
    Some spells and abilities "Prime" targets for combos and some abilities "Detonate". This is indicated,
    in the spell text. If a primed target is hit with a detonating power, they take 1d6 damage.
</p>

<h3>Advancements</h3>
<p>
    In Mass Effect, spells have advanced versions of themselves. At certain levels, you can either choose to learn new
    spells or advance ones you've already learned. For example, when you see Select 2(4) spells. The first number indicates
    the number of new spells you can learn or advance. In this example, you can either learn 2 new spells, advance 2 spells,
    or learn a spell and advance a spell. The second number indicates the max level of the spell you can learn or advance.
    In this example, you can learn or advance spells of level 4 or less, including cantrips. Though you can learn new catrips
    this way, you cannot know more cantrips than allowed by your level (indicated on you class sheet). You cannot select
    and advance a spell in the same turn.
</p>
<p>Tech Powers are all considered level 1; thus, there is no parenthesis indicating level.</p>

<h3>Grenades</h3>
<p>
    Grenades are considered a lvl 3 spell or a level 1 tech power.
</p>