<h2>Combat Changes and Additions</h2>

<h3>Using Spells and Tech Powers</h3>
<p>
    Using a spell is mostly the same, but pretty much every class can cast spells (even though some are called "tech").
    When a spell or tech calls for a saving throw the DC is equal to 8 + your proficiency bonus + your biotic or tech modifier.
    When making a ranged attack with a spell add your proficiency bonus and your biotic or tech modifier.
</p>

<h3>Combos</h3>
<p>
    Some spells and abilities "Prime" targets for combos and some abilities "Detonate". This is indicated,
    in the spell text. If a primed target is hit with a detonating power, they take 1d6 damage.
</p>

<h3>Shields</h3>
<p>
    Shields are a regenerating health pool. Like your health, it increases with level. When you take damage, the damage is done
    first to your shield points (SP) then to your HP. If you do not take any damage from the end of your turn until the start of your turn,
    regain SP equal to 1d4 + your proficiency bonus.
</p>
<p>
    An "unprotected" creature is one that does not have shields or has had all their shields removed.
</p>

<h3>Barriers</h3>
<p>
    Barrier is a cantrip available to Adepts, Sentinels, and Vanguards. It generates Barrier Ticks which are both a casting
    resource and damage reduction mechanic. Barrier Ticks generally start at 0 and can be gained by casting Barrier or other powers.
    Some powers require barriers to activate.
</p>
<p>
    Every time you take damage, remove a barrier tick and reduce that dmg by 1d8. The reduction increases by 1 when you
    reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).
</p>

<h3>Tech Points</h3>
<p>
    Tech Points (TP) are a casting resource for Engineers, Infiltrators, and Sentinels. You spend these points to fuel various
    tech powers. They represent your Omni-tool's power capacity. When you spend a tech point, it is unavailable until you
    finish a long rest, at the end of which you recharge your Omni-tool. You must spend at least 30 minutes charging.
    On a short rest, you regain 1d4 TP. Your TP recharge increases by 1 when you when you reach 5th level (2d4),
    11th level (3d4), and 17th level (4d4).
</p>

<h3>Organic vs. Synthetic</h3>
<p>
    Since AIs exist in Mass Effect, there are 2 types of creatures: Organic and Synthetic. Some spells and features
    only effect one type or the other.
</p>

<h3>Melee Attacks</h3>
<p>
    There are no melee weapons in Mass Effect. Melee attacks are made with your Omni-Tool and each class has a unique
    melee attack.
</p>

<h3>Condition Changes</h3>
<p>
    <strong>Lifted</strong>. A lifted target just means it's restrained, but the visual is different. The target dangles helplessly in the air.
</p>
<p>
    <strong>Frozen</strong>. Frozen is just petrification, but the target is frozen solid.
</p>


<h3>Damage Types</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Acid</td>
            <td>Acid can corrupt armor, causing AC penalties.</td>
        </tr>
        <tr>
            <td>Bludgeoning</td>
            <td>Remains unchanged.</td>
        </tr>
        <tr>
            <td>Cold</td>
            <td>Remains unchanged.</td>
        </tr>
        <tr>
            <td>Fire</td>
            <td>Deals double damage to unprotected, organic creatures (i.e., flesh).</td>
        </tr>
        <tr>
            <td>Force</td>
            <td>Remains unchanged.</td>
        </tr>
        <tr>
            <td>Lightning</td>
            <td>Deals double damage to shields.</td>
        </tr>
        <tr>
            <td>Necrotic</td>
            <td>Remains unchanged, but is generally only caused by biotic powers.</td>
        </tr>
        <tr>
            <td>Piercing</td>
            <td>Remains unchanged. Unless otherwise stated, all bullet damage is piercing.</td>
        </tr>
        <tr>
            <td>Poison</td>
            <td>Remains unchanged.</td>
        </tr>
        <tr>
            <td>Psychic</td>
            <td>Attacks to the nervous system, rather than mental or fear damage.</td>
        </tr>
        <tr>
            <td>Radiant</td>
            <td>More like radiation or damage on a nuclear level.</td>
        </tr>
        <tr>
            <td>Slashing</td>
            <td>Remains unchanged.</td>
        </tr>
        <tr>
            <td>Thunder</td>
            <td>More like shockwaves. Thunder damage is primary caused by grenades.</td>
        </tr>
    </tbody>
</table>