<h2>Intro</h2>
<p>
    5egmegaanon has an <a href="https://5egmegaanon.github.io/5etools/5etools.html" target="_blank">amazing toolset</a>
    for working with 5th edition. I will link to it often. If you aren't familiar with 5th ed, I'd recommend starting there.
</p>
<h2>Character Creation</h2>
<p>
    The only change in character creation is that some Races cannot play certain classes. This mainly represents the
    fact some races cannot use biotic powers. General character creation works as follows:
</p>
<ol>
    <li>Choose a race & feats (if applicable)</li>
    <li>Choose a class available to that race.</li>
    <li>Choose your proficiencies.</li>
    <li>Roll for your Hit Points and Shield Points.</li>
    <li>Roll and assign your ability scores.</li>
    <li>Choose 2 starting weapons.</li>
    <li>Create a back story.</li>
</ol>

<h2>Feats</h2>
<p>
    Feats are used and are a major part of choosing your race. However, some feats may not make sense, such as Crossbow
    Expert. You can work with your GM to figure out how to adjust or make a feat work.
</p>
<p>
    <a href="https://5egmegaanon.github.io/5etools/feats.html" target="_blank">List of feats</a>
</p>