<h2>Minor Changes</h2>
<h3>Melee Attacks</h3>
<p>
    The only real melee attacks are made with your Omni-tool. Each class has a unique melee attack.
</p>
<h3>Distance</h3>
<p>
    I use meters instead of feet. Why? Because this is set in the future and it's sci-fi and using metric just seems to
    make more sense. The general rule of thumb is that 3ft = 1m.
</p>
<h3>Carry Capacity</h3>
<p>
    Carrying Capacity is point based, not pound based. Your capacity is equal to Strength score. You can can carry up to
    5 additional points of weapons at the expense of a 2m reduction in movement per point. If you are carrying the maximum
    5 points over, all of your Dexterity checks are made at a disadvantage. You cannot carry more than 5 more points over
    your capacity.
</p>
<h3>Armor</h3>
<p>
    Armor proficiency is based on race not class.
</p>
<p>
    Instead of the different types of light, medium, and heavy armor, (studded, chain mail, etc.) there are only the 3
    major types (light, medium, and heavy). Armor does take away from your carry capacity.
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Type</td>
            <td>Armor Class (AC)</td>
            <td>Stealth</td>
            <td>Weight</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Light</td>
            <td>11 + Dex modifier</td>
            <td>-</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Medium</td>
            <td>14 + Dex modifier (max 2)</td>
            <td>-</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Light</td>
            <td>17</td>
            <td>Disadvantage</td>
            <td>3</td>
        </tr>
    </tbody>
</table>
<p>
    There are plenty of armor bonuses in Mass Effect. I've not created a list (yet?), but you and your GM should be creative
    about armor bonuses.
</p>
<h3>Conditions</h3>
<p>
    <strong>Lift</strong>: Targets dangle helplessly in the air. They are considered Restrained. While lifted, the target
    is primed for combos.
</p>
<p>
    <strong>Frozen</strong>: Considered petrified, but only last for 1 round. The creature is not turned to stone but
    frozen solid. It has resistances to all damage (like petrification).
</p>
<h3>Sexy Level?</h3>
<p>
    WTF is sexy level? ... A joke, but after reading this very
    <a href="http://www.polygon.com/2017/3/20/14980436/mass-effect-sexiest-character-aliens-ranked" target="_blank">scientific article</a>,
    I decided to make it canon.
</p>