<h2>Skills</h2>
<p><strong>Removed</strong>: Arcana & Religion</p>
<p><strong>Added</strong>: Hacking & Piloting</p>
<table class="table table-sm">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for skill in site.data.skills %}
    <tr>
        <td>
            {{ skill.name }}
        </td>
        <td>
            {{ skill.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

