<h2>Weapons</h2>

<h3>Ranged Weapon Attacks</h3>
<div>
    <p>
        The most drastic change in this system is the introduction of guns. Using a gun is the mostly the same as making a ranged
        attack in 5th ed.
    </p>

    <h4>Hip Fire</h4>
    <p>
        One difference is that there is no disadvantage to using a weapon within 2m. Quite the opposite. This system introduces
        the idea of "Hip Fire", i.e., firing the weapon without aiming. If a weapon has Hip Fire, you GAIN advantage on ranged
        attacks to targets within melee range (2m). All Heavy Pistols and Shotguns have Hip Fire unless otherwise indicated.
    </p>

    <h4>Aiming</h4>
    <p>
        There is no advantage to aiming and, therefore, no action needs to be taken to aim. The assumption is that all players
        are relatively decent weapon handlers and can aim & fire within the 6sec window of their action.
    </p>

    <h4>Additional Details</h4>
    <p>Switching and reloading weapons each take 1 action.</p>
    <p>Natural 20s count as critical hits, i.e. headshots. Deal double damage.</p>
</div>

<h3>Weapon Stats</h3>
<div>
    <h4>Weight</h4>
    <p>Subtract this from your Carry Capacity. Carrying Capacity is point based, not pound based. Your capacity is equal to
        Strength score. You can can carry up to 5 additional points of weapons at the expense of a 2m reduction in movement
        per point. If you are carrying the maximum 5 points over, all of your Dexterity checks are made at a disadvantage.
        You cannot carry more than 5 more points over your capacity.
    </p>

    <h4>Range</h4>
    <p>
        If a target is beyond the weapon's range, the attack roll is made at a disadvantage. Ranges are an approximation and
        can be 2m (everything beyond melee hip fire is a disadvantage), 10m (close range), 20m (average range), 60m (long range).
        For the gun nuts out there, I get the fact that an assault rifle has a range of 300m, but unless you're a goddamn black belt
        in GunFu, you ain't gonna hit a moving target at 300m. Range, in this context, is a measure of weapon performance.
        It could include aspects of weapon kick, handling, if the weapon has a scope, etc.
    </p>

    <h4>Rate of Fire (RoF) & Damage</h4>
    <p>
        On a successful ranged attack, the RoF of the weapon indicates how many die you roll. The Damage indicates the type of dice.
    </p>

    <h4>Heat</h4>
    <p>
        Basically the number of bullets you can fire before you need to reload. Each weapon's heat matches a die type to assist
        in keeping track of reloading. At the beginning of combat, place a matching die on your character sheet next to the weapon.
        For each use, subtract the weapon's RoF from the Heat die. If the Heat die falls below 0, the weapon must be reloaded.
    </p>

    <h4>Ammo</h4>
    <p>
        In Mass Effect, all weapons use interchangeable Thermal Clips as "ammo". It's up to the GM if they want to manage thermal clips.
        Each person can carry ~4 thermal clips. If you're fighting enemies that also have guns, it's assumed they would have extra thermal
        clips as well; thus, there would be a steady supply from looting. But if you on a barren planet fighting a Thresher Maw,
        finding thermal clips might be difficult.
    </p>

    <h4>Unique Weapons</h4>
    <p>
        Some weapons are "Unique" which means that you can't apply ammo powers to them.
    </p>
</div>


<h3>Heavy Weapons</h3>
<div>
    <h4>Targeting</h4>
    <p>
        Some heavy weapons need to be targeted, which mean painting the battlefield, or keeping a lock on a creature(s) for
        a single round of combat. Targeting is considered a free action, as long as you've already equipped with the heavy weapon,
        i.e., you can choose to pick-up or equip a weapon as your action, then begin targeting as a free action before your turn ends.
        If you're already holding the weapon, you might use a power and then begin targeting. While targeting, you cannot be
        behind cover, you automatically fail Dexterity saving throws, and creatures that attack you have advantage. You can
        choose to end this state as a reaction to an attack (not to a damage roll). If you end the state, creatures will not
        have advantage while attacking, but your Dexterity saving throws will be made at a disadvantage. Prematurely ending
        the targeting prevents the weapon from firing at the start of your turn. If you loose your footing buy being knocked
        down, or lifted, Targeting ends.
    </p>
    <h4>Ammo</h4>
    <p>
        Heavy Weapons do not use Thermal Clips, but traditional ammo. Once you run out of heavy weapon uses, you cannot reuse
        the weapon until you acquire additional ammo.
    </p>
</div>

