{% include header.html %}

{% assign class = site.data.classes | where: "class", page.class %}
{% assign class = class[0] %}
<div class="container-fluid " id="{{ class.class | slugify }}">
    <div class="row">
        <div class="col-sm-3">
            <img
                    src="{{ site.baseurl }}assets/images/classes/{{ class.class | slugify }}.svg"
                    class="img-fluid hidden-xs-down"
                    alt="{{ class.class }} icon"
            >
            <div class="card card-block class-card">
                <h3>Hit Points</h3>
                <dl>
                    <dt>Hit Dice</dt>
                    <dd>{{ class.hit-die }}</dd>
                    <dt>Hit points at 1st level</dt>
                    <dd>{{ class.hit-points }}</dd>
                    <dt>Hit points as higher levels</dt>
                    <dd>{{ class.increase-hit-points }}</dd>
                    <dt>Shield points at 1st level</dt>
                    <dd>{{ class.max-shields }}</dd>
                    <dt>Shield points as higher levels</dt>
                    <dd>{{ class.increase-max-shields }}</dd>
                </dl>
                <h3>Proficiencies</h3>
                <p>You are proficient with the following items, in addition to any proficiencies provided by your race or background.</p>
                <dl>
                    <dt>Weapons</dt>
                    <dd>{{ class.weapon }}</dd>
                    <dt>Saving Throws</dt>
                    <dd>{{ class.saving-throw }}</dd>
                    <dt>Skills</dt>
                    <dd>{{ class.skill }}</dd>
                </dl>
                <h3>Biotic / Tech Modifier</h3>
                <p>{{ class.spellcasting-modifier }}</p>
                <h3>Omni-Tool (melee attack)</h3>
                <p>{{ class.omni-tool }}</p>
            </div>

        </div>
        <div class="col-12 col-sm-8 mt-4">
            <h2>{{ class.class }}</h2>
            <p>{{ class.description }}</p>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#{{ class.class | slugify }}-progression" role="tab">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#{{ class.class | slugify }}-subclasses" role="tab">Subclasses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#{{ class.class | slugify }}-spells" role="tab">Available Features</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="{{ class.class | slugify }}-progression" role="tabpanel">
                    {% include classes/progression_table.html class=class %}
                </div>
                <div class="tab-pane" id="{{ class.class | slugify }}-subclasses" role="tabpanel">
                    {% include classes/subclasses.html class=class.class %}
                </div>
                <div class="tab-pane" id="{{ class.class | slugify }}-spells" role="tabpanel">
                    {% include feature_table.html filter=class.class %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}